/*
 * Example section styling
 */

.blog-pr__title {
    padding-bottom: 20px;
}

.categories-bar {
    display: flex;
    justify-content: space-around;
    flex-direction: row;

    &__item {
        cursor: pointer;
        width: 120px;
        height: 120px;
        background-color: $background-light;
        border-radius: $b-radius;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: $black !important;
        gap: 14px;
        transition: transform .4s ease;
        &:hover {
            transform:rotateX(8deg) rotateY(16deg);
        }
    }
}

@media only screen and (max-width: 1199px){

}


@media only screen and (max-width: 991px){
	.example{

	}
}


@media only screen and (max-width: 767px){
    .categories-bar {
        justify-content: center;
        gap: 12px;

        &__item {
            cursor: pointer;
            width: 60px;
            height: 60px;
            color: $black;
            transition: transform .4s ease;
            img {
                height: 32px;
                width: 32px;
            }
            span {
                display: none;
            }
            &:hover {

            }
        }
    }
}


@media only screen and (max-width: 575px){
    .categories-bar {
        justify-content: center;
        gap: 8px;
    }
}

