/*
 * Example section styling
 */

.order-history{
	color: $black;
	&__title{
		color: #ffffff;
	}
	&__header{
		display: flex;
		justify-content: space-between;
	}
}
.order-final{
	margin-top: 20px;
	padding: 20px;
	border-radius: $b-radius;
	background-color: #fff;
	&_inActive{
		opacity: 0.7;

	}
	&__title{
		padding-bottom: 14px;
		border-bottom: 1px solid $black;
		display: flex;
		justify-content: space-between;
	}
	&__info{
		display: flex;
		flex-direction: column;

	}
	&__body{
		margin-top: 40px;
		&-label{
			color: $light-gray;
		}
	}
	&__item-list{
		margin-top: 20px;
	}
	&__item{
		margin-bottom: 30px;

	}
	&__product{
		display: flex;
		align-items: center;
		gap: 20px;
	}
	&__image{
		width: 100px;
		height: 56px;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 10px;
			filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
		}
	}
	&__button{
		display: flex;
		justify-content: flex-end;
        color: #FFF;
	}


}
@media only screen and (max-width: 1199px){
	.example{

	}

}


@media only screen and (max-width: 991px){
	.order-history{
		&__help-link{
			display: none;
		}

	}
}


@media only screen and (max-width: 767px){
	.order-final{
		text-align: center;
		&__title{
			gap: 12px;
			flex-direction: column;
		}
		&__name{
			display: none;
		}

	}
}


@media only screen and (max-width: 575px){
	.example{

	}
}
