/*
 * Product styling
 */

.product-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
}


@media only screen and (max-width: 1199px){
	.product-list{

	}

}


@media only screen and (max-width: 991px){
	.product-list{

	}
}


@media only screen and (max-width: 767px){
	.product-list{
        gap: 20px;
	}
}


@media only screen and (max-width: 575px){
	.product-list{

	}
}
