@import "example";
@import "home";
@import "articles";
@import "article-page";
@import "auth";
@import "product-list";
@import "basket";
@import "product-page";
@import "order-history";
@import "liked-page";
@import "user-profile";
@import "admin";


.content{
  margin-top: 20px;
  color: white;
  overflow: hidden;
}
.glow-wrap {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  margin-top: -10px;
}

.glow {
  display: block;
  position: absolute;
  width: 40%;
  height: 200%;
  background: rgba(255, 255, 255, .2);
  top: 0;
  filter: blur(5px);
  transform: rotate(45deg) translate(-450%, 0);
  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo:hover .glow {
  transform: rotate(45deg) translate(450%, 0);
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo:hover img,
.photo:hover .glow-wrap {
  margin-top: 0;
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}

@keyframes shine {
  100% {
    left: 125%;
  }
}
@media only screen and (max-width: 767px) {

}
