/*
 * User Profile section styling
 */

.user-profile{
	&__content{
		padding-top: 20px;
		position: relative;
	}
	&__input-group{
		margin-top: 20px;
	}

	&__remove{
		position: absolute;
		top: 0;
		right: 20px;
	    display: flex;
        flex-direction: column-reverse;
        &-body{
            display: flex;
            align-items: center;
            gap: 10px;
            color: $danger;
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
        }

	}
	&__content{
		color: $black;
	}
	&__btn{
		float: right;
	}
}

@media only screen and (max-width: 1199px){
	.user-profile{


	}

}


@media only screen and (max-width: 991px){
	.user-profile{
		&__input-group{
			margin-top: 14px;
		}
	}
}


@media only screen and (max-width: 767px){
	.user-profile{
		&__btn{
			margin-top: 20px;
			width: 100%;
		}
	}
}


@media only screen and (max-width: 575px){
	.user-profile{

	}
}
