@font-face{
	font-family: Rubik-Regular;
	src: url(../fonts/Rubik/Rubik-Regular.ttf);
	font-style: normal;
	font-display: swap;
}

@font-face{
	font-family: Rubik-Light;
	src: url(../fonts/Rubik/Rubik-Light.ttf);
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face{
	font-family: Rubik-Bold;
	src: url(../fonts/Rubik/Rubik-Bold.ttf);
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
