/*
 * Card section styling
 */

.card{
	padding: 40px;
	background-color: $background-light;
	border-radius: $b-radius;
}

@media only screen and (max-width: 1199px){
	.card{

	}

}


@media only screen and (max-width: 991px){
	.card{
		padding: 25px;
	}
}

	
@media only screen and (max-width: 767px){
	.card{
		padding: 18px;
	}
}


@media only screen and (max-width: 575px){
	.card{

	}
}
