.navigation{
  background-color: $background-light;
  display: flex;
  justify-content: space-between;
  color: $black;
  border-radius: 20px;
  align-items: center;
  &__categories{
    display: flex;
    padding: 16px 24px;

  }
  &__body{
    display: flex;
    &.active{
      display: flex;
    }
  }
  &__active{
    background-color: $primary;
    padding: 9px 15px;
    border-radius: 20px;
    margin-right: 12px;
    color: #fff;
    svg{
      display: none;
    }


  }
  &__item{
    padding: 9px 15px;
    transition: color 0.3s ease;
    margin-right: 12px;
    &:last-child{
      margin-right: 0;
    }
    &:hover{
      color: $primary;
    }
  }
}

@media only screen and (max-width: 991px){
  .navigation{
    &__categories{
      position: relative;

    }
    &__active{
      padding: 10px 60px;
      margin: 0 0 5px;
      display: flex;
      align-items: center;
      position: relative;
      z-index: $sortZ+1;
      svg{
        display: block;
        margin-left: 14px;
      }

    }
    &__body{
      display: none;
      position: absolute;
      box-shadow: $drop-shadow;
      top: 60px;
      padding: 20px 10px;
      width: 100%;
      left: 0;
      border-radius:0 0 20px 20px;
      background-color: $background-light;
      z-index: $sortZ;
      flex-direction: column;
    }
  }
}

@media only screen and (max-width: 575px) {
  .navigation {
    position: relative;

    &__categories {
      position: static;
      padding: 10px 18px;
    }

    &__active {
      padding: 8px 12px;
    }

    &__body {
      top: 40px;
    }
  }
}
