//TAG STYLING
.tag{
  background-color: $primary;
  text-align: center;
  color: white;
  letter-spacing: 0.3em;
  white-space: nowrap;
  padding: 4px 12px;
  text-transform: uppercase;
}
//TAG STYLING ENDS
